<!-- header -->
<app-header></app-header>
<div class="container">
  <div class="row top-buffer txt-align-center">
    <div class="col h2">{{title}}</div>
  </div>
  <div class="row top-buffer txt-align-center">
    <div class="col h4">Please upload yaml files for comparison</div>
  </div>
  <div class="row top-buffer">
    <input class="col" type="file" id="file1">
    <input class="col" type="file" id="file2">
  </div>
  <div class="row top-buffer txt-align-center" *ngIf="!fileSelected">
    <div class="col h6 text-danger">Please Select Two files for Comparison</div>
  </div>
  <div class="row top-buffer">
    <div class="col txt-align-center">
      <button type="button" class="btn btn-success width-93" (click)="compare()">Compare</button>
      <button type="button" class="btn btn-danger margin-left width-93" (click)="reset()">Reset</button>
    </div>
  </div>
  <table class="table top-buffer" *ngIf="mockResponse">
    <thead>
    <tr>
      <th>Property</th>
      <th>{{mockResponse.comparedFiles[0]}}</th>
      <th>{{mockResponse.comparedFiles[1]}}</th>
    </tr>
    </thead>
    <tbody>
    <tr [ngClass]="{'table-danger':detail.isDifferent}" *ngFor="let detail of mockResponse.details">
      <td>{{detail.propName}}</td>
      <td>{{detail.yml1}}</td>
      <td>{{detail.yml2}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- footer -->
<app-footer></app-footer>
